In [1]:
#importing libraries
import pandas as pd

In [2]:
# Set path to your Excel file
file_path = 'C:/Users/admin/OneDrive/Desktop/DigitalMarketingDashboard/data/digital_marketing_dataset.xlsx'

# Load workbook and print sheet names
xls = pd.ExcelFile(file_path)
print("Available Sheets:")
print(xls.sheet_names)

Available Sheets:
['Data', 'Impression Cost', 'Click Cost', 'Sales Target', 'Ad Budget']

In [3]:
# Loading each sheet
data = pd.read_excel(file_path, sheet_name='Data')
impression_cost = pd.read_excel(file_path, sheet_name='Impression Cost')
click_cost = pd.read_excel(file_path, sheet_name='Click Cost')
sales_target = pd.read_excel(file_path, sheet_name='Sales Target')
ad_budget = pd.read_excel(file_path, sheet_name='Ad Budget')

In [4]:
### data sheet
#let's understand data

data.head()

,Date,Month,Year,Ad Campaign,Display ads,Overlay ads,Skippable ads,Non-skippable ads,Bumper ads,Platform,Avg Pages Visited,AVG Time on Site (mins),Impressions,Clicks,Conversions,Quantity Sold,Unit Cost Price,Unit Sale Price,Final Cost Price,Final Sale Price
0,2017-01-31,Jan,2017,Campaign 1,171150.0,146700.0,48900,73350.0,48900.0,Platform A,4,5,489000,12546.666667,2925.00,2925.00,60,180,175500.0,526500.0
1,2017-01-31,Jan,2017,Campaign 1,139650.0,119700.0,39900,59850.0,39900.0,Platform B,3,6,399000,18532.000000,1365.00,1365.00,60,180,81900.0,245700.0
2,2017-01-31,Jan,2017,Campaign 1,182350.0,156300.0,52100,78150.0,52100.0,Platform C,7,8,521000,20963.333333,1625.00,1625.00,60,180,97500.0,292500.0
3,2017-01-31,Jan,2017,Campaign 1,189000.0,162000.0,54000,81000.0,54000.0,Platform D,4,8,540000,22443.333333,2091.83,2091.83,60,180,125509.8,376529.4
4,2017-02-28,Feb,2017,Campaign 1,204750.0,175500.0,58500,87750.0,58500.0,Platform A,8,2,585000,24498.333333,4225.00,4225.00,60,180,253500.0,760500.0

In [5]:
#Clean Column Names
def clean_columns(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^\w\s]', '', regex=True)
    return df

In [6]:
# Apply to each sheet
data = clean_columns(data)
impression_cost = clean_columns(impression_cost)
click_cost = clean_columns(click_cost)
sales_target = clean_columns(sales_target)
ad_budget = clean_columns(ad_budget)

In [7]:
#preview each sheet
# View top rows
data.head()

,date,month,year,ad_campaign,display_ads,overlay_ads,skippable_ads,nonskippable_ads,bumper_ads,platform,avg_pages_visited,avg_time_on_site_mins,impressions,clicks,conversions,quantity_sold,unit_cost_price,unit_sale_price,final_cost_price,final_sale_price
0,2017-01-31,Jan,2017,Campaign 1,171150.0,146700.0,48900,73350.0,48900.0,Platform A,4,5,489000,12546.666667,2925.00,2925.00,60,180,175500.0,526500.0
1,2017-01-31,Jan,2017,Campaign 1,139650.0,119700.0,39900,59850.0,39900.0,Platform B,3,6,399000,18532.000000,1365.00,1365.00,60,180,81900.0,245700.0
2,2017-01-31,Jan,2017,Campaign 1,182350.0,156300.0,52100,78150.0,52100.0,Platform C,7,8,521000,20963.333333,1625.00,1625.00,60,180,97500.0,292500.0
3,2017-01-31,Jan,2017,Campaign 1,189000.0,162000.0,54000,81000.0,54000.0,Platform D,4,8,540000,22443.333333,2091.83,2091.83,60,180,125509.8,376529.4
4,2017-02-28,Feb,2017,Campaign 1,204750.0,175500.0,58500,87750.0,58500.0,Platform A,8,2,585000,24498.333333,4225.00,4225.00,60,180,253500.0,760500.0

In [8]:
impression_cost.head()

   year    platform  cost_per_1000_impression_cpm
0  2017  Platform A                           2.5
1  2017  Platform B                           3.5
2  2017  Platform C                           4.5
3  2017  Platform D                           5.5
4  2018  Platform A                           3.0

In [9]:
click_cost.head()

   year    platform  cost_per_click_cpc
0  2017  Platform A                1.50
1  2017  Platform B                2.10
2  2017  Platform C                1.80
3  2017  Platform D                1.50
4  2018  Platform A                1.95

In [10]:
sales_target.head()

        date  sales_target
0 2017-01-31       1250000
1 2017-02-28       1250000
2 2017-03-31       1250000
3 2017-04-30       1250000
4 2017-05-31       1250000

In [11]:
ad_budget.head()

        date  ad_budget
0 2017-01-31     600000
1 2017-02-28     600000
2 2017-03-31     600000
3 2017-04-30     600000
4 2017-05-31     600000

In [13]:
print(data.info())
print("-------------------------------------------------------------------------------------------------------------------")
print(impression_cost.info())
print("-------------------------------------------------------------------------------------------------------------------")
print(click_cost.info())
print("-------------------------------------------------------------------------------------------------------------------")
print(sales_target.info())
print("-------------------------------------------------------------------------------------------------------------------")
print(ad_budget.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   192 non-null    datetime64[ns]
 1   month                  192 non-null    object
 2   year                   192 non-null    int64
 3   ad_campaign            192 non-null    object
 4   display_ads            192 non-null    float64
 5   overlay_ads            192 non-null    float64
 6   skippable_ads          192 non-null    int64
 7   nonskippable_ads       192 non-null    float64
 8   bumper_ads             192 non-null    float64
 9   platform               192 non-null    object
 10  avg_pages_visited      192 non-null    int64
 11  avg_time_on_site_mins  192 non-null    int64
 12  impressions            192 non-null    int64
 13  clicks                 192 non-null    float64
 14  conversions            192 non-null    float64
 15  quantity_sold          192 non-null    float64
 16  unit_cost_price        192 non-null    int64
 17  unit_sale_price        192 non-null    int64
 18  final_cost_price       192 non-null    float64
 19  final_sale_price       192 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(7), object(3)
memory usage: 30.1+ KB
None
-------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          16 non-null     int64
 1   platform                      16 non-null     object
 2   cost_per_1000_impression_cpm  16 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 516.0+ bytes
None
-------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                16 non-null     int64
 1   platform            16 non-null     object
 2   cost_per_click_cpc  16 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 516.0+ bytes
None
-------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          48 non-null     datetime64[ns]
 1   sales_target  48 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 900.0 bytes
None
-------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       48 non-null     datetime64[ns]
 1   ad_budget  48 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 900.0 bytes
None

In [14]:
print(data.describe(include='all'))
print("-------------------------------------------------------------------------------------------------------------------")
print(impression_cost.describe(include='all'))
print("-------------------------------------------------------------------------------------------------------------------")
print(click_cost.describe(include='all'))
print("-------------------------------------------------------------------------------------------------------------------")
print(sales_target.describe(include='all'))
print("-------------------------------------------------------------------------------------------------------------------")
print(ad_budget.describe(include='all'))

                       date month         year ad_campaign    display_ads  \
count                   192   192   192.000000         192     192.000000
unique                  NaN    12          NaN           3            NaN
top                     NaN   Jan          NaN  Campaign 1            NaN
freq                    NaN    16          NaN          64            NaN
mean    2019-01-14 15:00:00   NaN  2018.500000         NaN  218970.562500
min     2017-01-31 00:00:00   NaN  2017.000000         NaN  131460.000000
25%     2018-01-23 06:00:00   NaN  2017.750000         NaN  189000.000000
50%     2019-01-15 12:00:00   NaN  2018.500000         NaN  217515.000000
75%     2020-01-07 18:00:00   NaN  2019.250000         NaN  251560.000000
max     2020-12-31 00:00:00   NaN  2020.000000         NaN  333640.000000
std                     NaN   NaN     1.120957         NaN   42385.909302

          overlay_ads  skippable_ads  nonskippable_ads     bumper_ads  \
count      192.000000     192.000000        192.000000     192.000000
unique            NaN            NaN               NaN            NaN
top               NaN            NaN               NaN            NaN
freq              NaN            NaN               NaN            NaN
mean    153489.604167  108067.010417      57979.364583   56454.916667
min      89600.000000   37560.000000      31360.000000   26880.000000
25%     130800.000000   73420.000000      46862.500000   39765.000000
50%     152340.000000  111680.000000      53650.000000   50000.000000
75%     175280.000000  135050.000000      66825.000000   69188.000000
max     245840.000000  200500.000000     111000.000000  112280.000000
std      30066.037478   43040.523381      15514.838102   21237.384444

          platform  avg_pages_visited  avg_time_on_site_mins    impressions  \
count          192         192.000000             192.000000     192.000000
unique           4                NaN                    NaN            NaN
top     Platform A                NaN                    NaN            NaN
freq            48                NaN                    NaN            NaN
mean           NaN           3.588542               3.984375  594961.458333
min            NaN           1.000000               1.000000  375600.000000
25%            NaN           2.000000               2.000000  521000.000000
50%            NaN           4.000000               3.000000  598000.000000
75%            NaN           5.000000               6.000000  662000.000000
max            NaN           8.000000               8.000000  878000.000000
std            NaN           2.085219               2.405222  104423.324780

              clicks  conversions  quantity_sold  unit_cost_price  \
count     192.000000   192.000000     192.000000       192.000000
unique           NaN          NaN            NaN              NaN
top              NaN          NaN            NaN              NaN
freq             NaN          NaN            NaN              NaN
mean    21600.909722  2379.798383    2379.798383        77.500000
min      9368.333333   650.000000     650.000000        60.000000
25%     16302.500000  1365.000000    1365.000000        67.500000
50%     20615.833333  2063.165000    2063.165000        75.000000
75%     26083.333333  2935.968750    2935.968750        85.000000
max     42773.333333  6500.000000    6500.000000       100.000000
std      7022.805244  1278.078987    1278.078987        14.828867

        unit_sale_price  final_cost_price  final_sale_price
count        192.000000        192.000000      1.920000e+02
unique              NaN               NaN               NaN
top                 NaN               NaN               NaN
freq                NaN               NaN               NaN
mean         245.000000     186650.507604      5.902603e+05
min          180.000000      45500.000000      1.495000e+05
25%          217.500000     101400.000000      3.210724e+05
50%          245.000000     150917.812500      4.829250e+05
75%          272.500000     245943.750000      7.605000e+05
max          310.000000     625560.000000      1.939236e+06
std           47.293226     114479.726719      3.619646e+05
-------------------------------------------------------------------------------------------------------------------
               year    platform  cost_per_1000_impression_cpm
count     16.000000          16                      16.00000
unique          NaN           4                           NaN
top             NaN  Platform A                           NaN
freq            NaN           4                           NaN
mean    2018.500000         NaN                       5.12500
std        1.154701         NaN                       1.52206
min     2017.000000         NaN                       2.50000
25%     2017.750000         NaN                       4.00000
50%     2018.500000         NaN                       5.00000
75%     2019.250000         NaN                       6.00000
max     2020.000000         NaN                       8.00000
-------------------------------------------------------------------------------------------------------------------
               year    platform  cost_per_click_cpc
count     16.000000          16            16.00000
unique          NaN           4                 NaN
top             NaN  Platform A                 NaN
freq            NaN           4                 NaN
mean    2018.500000         NaN             2.04375
std        1.154701         NaN             0.34635
min     2017.000000         NaN             1.50000
25%     2017.750000         NaN             1.80000
50%     2018.500000         NaN             2.00000
75%     2019.250000         NaN             2.26250
max     2020.000000         NaN             2.80000
-------------------------------------------------------------------------------------------------------------------
                      date  sales_target
count                   48  4.800000e+01
mean   2019-01-14 15:00:00  1.637500e+06
min    2017-01-31 00:00:00  1.250000e+06
25%    2018-01-23 06:00:00  1.437500e+06
50%    2019-01-15 12:00:00  1.650000e+06
75%    2020-01-07 18:00:00  1.850000e+06
max    2020-12-31 00:00:00  2.000000e+06
std                    NaN  2.888900e+05
-------------------------------------------------------------------------------------------------------------------
                      date      ad_budget
count                   48      48.000000
mean   2019-01-14 15:00:00  750000.000000
min    2017-01-31 00:00:00  600000.000000
25%    2018-01-23 06:00:00  712500.000000
50%    2019-01-15 12:00:00  775000.000000
75%    2020-01-07 18:00:00  812500.000000
max    2020-12-31 00:00:00  850000.000000
std                    NaN   94531.318687

In [15]:
print(data.dtypes)
print("-------------------------------------------------------------------------------------------------------------------")
print(impression_cost.dtypes)
print("-------------------------------------------------------------------------------------------------------------------")
print(click_cost.dtypes)
print("-------------------------------------------------------------------------------------------------------------------")
print(sales_target.dtypes)
print("-------------------------------------------------------------------------------------------------------------------")
print(ad_budget.dtypes)

date                     datetime64[ns]
month                            object
year                              int64
ad_campaign                      object
display_ads                     float64
overlay_ads                     float64
skippable_ads                     int64
nonskippable_ads                float64
bumper_ads                      float64
platform                         object
avg_pages_visited                 int64
avg_time_on_site_mins             int64
impressions                       int64
clicks                          float64
conversions                     float64
quantity_sold                   float64
unit_cost_price                   int64
unit_sale_price                   int64
final_cost_price                float64
final_sale_price                float64
dtype: object
-------------------------------------------------------------------------------------------------------------------
year                              int64
platform                         object
cost_per_1000_impression_cpm    float64
dtype: object
-------------------------------------------------------------------------------------------------------------------
year                    int64
platform               object
cost_per_click_cpc    float64
dtype: object
-------------------------------------------------------------------------------------------------------------------
date            datetime64[ns]
sales_target             int64
dtype: object
-------------------------------------------------------------------------------------------------------------------
date         datetime64[ns]
ad_budget             int64
dtype: object

In [17]:
#Normalize text

def normalize_text(df, columns):
    for col in columns:
        df[col] = df[col].str.strip().str.lower()
    return df

# Main Data
data = normalize_text(data, ['platform', 'ad_campaign'])

# Impression Cost
impression_cost = normalize_text(impression_cost, ['platform'])

# Click Cost
click_cost = normalize_text(click_cost, ['platform'])

In [19]:
data.columns

Index(['date', 'month', 'year', 'ad_campaign', 'display_ads', 'overlay_ads',
       'skippable_ads', 'nonskippable_ads', 'bumper_ads', 'platform',
       'avg_pages_visited', 'avg_time_on_site_mins', 'impressions', 'clicks',
       'conversions', 'quantity_sold', 'unit_cost_price', 'unit_sale_price',
       'final_cost_price', 'final_sale_price'],
      dtype='object')

In [20]:
sales_target.columns

Index(['date', 'sales_target'], dtype='object')

In [21]:
ad_budget.columns

Index(['date', 'ad_budget'], dtype='object')

In [22]:
click_cost.columns

Index(['year', 'platform', 'cost_per_click_cpc'], dtype='object')

In [23]:
impression_cost.columns

Index(['year', 'platform', 'cost_per_1000_impression_cpm'], dtype='object')

In [24]:
#Missing values in Data
print("Missing values in Data:")
print(data.isnull().sum())

Missing values in Data:
date                     0
month                    0
year                     0
ad_campaign              0
display_ads              0
overlay_ads              0
skippable_ads            0
nonskippable_ads         0
bumper_ads               0
platform                 0
avg_pages_visited        0
avg_time_on_site_mins    0
impressions              0
clicks                   0
conversions              0
quantity_sold            0
unit_cost_price          0
unit_sale_price          0
final_cost_price         0
final_sale_price         0
dtype: int64

In [25]:
#Missing values in Impression Cost
print("Missing values in Impression Cost:")
print(impression_cost.isnull().sum())

Missing values in Impression Cost:
year                            0
platform                        0
cost_per_1000_impression_cpm    0
dtype: int64

In [26]:
#Missing values in Click Cost
print("Missing values in Click Cost:")
print(click_cost.isnull().sum())

Missing values in Click Cost:
year                  0
platform              0
cost_per_click_cpc    0
dtype: int64

In [27]:
#Missing values in Sales Target
print("Missing values in Sales Target:")
print(sales_target.isnull().sum())

Missing values in Sales Target:
date            0
sales_target    0
dtype: int64

In [28]:
#Missing values in Ad Budget
print("Missing values in Ad Budget:")
print(ad_budget.isnull().sum())

Missing values in Ad Budget:
date         0
ad_budget    0
dtype: int64

In [29]:
data.duplicated().sum()

0

In [30]:
# 5. Drop duplicates
print(data.drop_duplicates(inplace=True))
print(impression_cost.drop_duplicates(inplace=True))
print(click_cost.drop_duplicates(inplace=True))
print(sales_target.drop_duplicates(inplace=True))
print(ad_budget.drop_duplicates(inplace=True))

None
None
None
None
None

In [31]:
data['month'].unique()

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'], dtype=object)

In [33]:
data[['month', 'year']].head()

  month  year
0   Jan  2017
1   Jan  2017
2   Jan  2017
3   Jan  2017
4   Feb  2017

In [34]:
print(data['date'].head())
print(sales_target['date'].head())

0   2017-01-31
1   2017-01-31
2   2017-01-31
3   2017-01-31
4   2017-02-28
Name: date, dtype: datetime64[ns]
0   2017-01-31
1   2017-02-28
2   2017-03-31
3   2017-04-30
4   2017-05-31
Name: date, dtype: datetime64[ns]

In [35]:
# Main Data
data['date'] = pd.to_datetime(data['date'])
data['month'] = data['date'].dt.strftime('%b')
data['year'] = data['date'].dt.year

# Sales Target
sales_target['date'] = pd.to_datetime(sales_target['date'])
sales_target['month'] = sales_target['date'].dt.strftime('%b')
sales_target['year'] = sales_target['date'].dt.year

# Ad Budget
ad_budget['date'] = pd.to_datetime(ad_budget['date'])
ad_budget['month'] = ad_budget['date'].dt.strftime('%b')
ad_budget['year'] = ad_budget['date'].dt.year

In [36]:
# Merge 1: sales_target on ['month', 'year']
data = pd.merge(data, sales_target[['month', 'year', 'sales_target']], on=['month', 'year'], how='left')

# Merge 2: ad_budget on ['month', 'year']
data = pd.merge(data, ad_budget[['month', 'year', 'ad_budget']], on=['month', 'year'], how='left')

# Merge 3: impression_cost on ['year', 'platform']
data = pd.merge(data, impression_cost, on=['year', 'platform'], how='left')

# Merge 4: click_cost on ['year', 'platform']
data = pd.merge(data, click_cost, on=['year', 'platform'], how='left')

In [37]:
data.columns

Index(['date', 'month', 'year', 'ad_campaign', 'display_ads', 'overlay_ads',
       'skippable_ads', 'nonskippable_ads', 'bumper_ads', 'platform',
       'avg_pages_visited', 'avg_time_on_site_mins', 'impressions', 'clicks',
       'conversions', 'quantity_sold', 'unit_cost_price', 'unit_sale_price',
       'final_cost_price', 'final_sale_price', 'sales_target', 'ad_budget',
       'cost_per_1000_impression_cpm', 'cost_per_click_cpc'],
      dtype='object')

In [38]:
print(data[['month', 'year', 'platform', 'sales_target', 'ad_budget']].head())

  month  year    platform  sales_target  ad_budget
0   Jan  2017  platform a       1250000     600000
1   Jan  2017  platform b       1250000     600000
2   Jan  2017  platform c       1250000     600000
3   Jan  2017  platform d       1250000     600000
4   Feb  2017  platform a       1250000     600000

In [39]:
print(data.isnull().sum())

date                            0
month                           0
year                            0
ad_campaign                     0
display_ads                     0
overlay_ads                     0
skippable_ads                   0
nonskippable_ads                0
bumper_ads                      0
platform                        0
avg_pages_visited               0
avg_time_on_site_mins           0
impressions                     0
clicks                          0
conversions                     0
quantity_sold                   0
unit_cost_price                 0
unit_sale_price                 0
final_cost_price                0
final_sale_price                0
sales_target                    0
ad_budget                       0
cost_per_1000_impression_cpm    0
cost_per_click_cpc              0
dtype: int64

In [40]:
print(data['platform'].unique())
print(data['ad_campaign'].unique())

['platform a' 'platform b' 'platform c' 'platform d']
['campaign 1' 'campaign 2' 'campaign 3']

In [41]:
# 1.1 Total Sales across all campaigns and platforms
total_sales = data['final_sale_price'].sum()
print("Total Sales:", total_sales)

Total Sales: 113329974.745

In [42]:
# 1.2 Campaign-wise total sales
campaign_sales = data.groupby('ad_campaign')['final_sale_price'].sum().sort_values(ascending=False)
print("Campaign-wise Sales:\n", campaign_sales)

Campaign-wise Sales:
 ad_campaign
campaign 3    4.535836e+07
campaign 1    3.683235e+07
campaign 2    3.113927e+07
Name: final_sale_price, dtype: float64

In [43]:

# 1.3 Platform-wise total sales
platform_sales = data.groupby('platform')['final_sale_price'].sum().sort_values(ascending=False)
print("Platform-wise Sales:\n", platform_sales)

Platform-wise Sales:
 platform
platform a    4.327159e+07
platform d    3.127571e+07
platform c    2.271875e+07
platform b    1.606392e+07
Name: final_sale_price, dtype: float64

In [44]:
# 2.1 Total cost range
min_cost = data['final_cost_price'].min()
max_cost = data['final_cost_price'].max()
print(f"Total Cost Range: {min_cost} to {max_cost}")

Total Cost Range: 45500.0 to 625560.0

In [45]:

# 2.2 Total profit = Sales - Cost
data['profit'] = data['final_sale_price'] - data['final_cost_price']
total_profit = data['profit'].sum()
print("Total Profit:", total_profit)

Total Profit: 77493077.285

In [46]:

# 2.3 Platform-wise profit
platform_profit = data.groupby('platform')['profit'].sum().sort_values(ascending=False)
print("Platform-wise Profit:\n", platform_profit)

Platform-wise Profit:
 platform
platform a    2.960052e+07
platform d    2.138575e+07
platform c    1.552434e+07
platform b    1.098247e+07
Name: profit, dtype: float64

In [47]:
# 3.1 Combined performance: campaign and platform
performance = data.groupby(['ad_campaign', 'platform'])[['final_sale_price', 'profit']].sum().sort_values(by='profit', ascending=False)
print("Campaign & Platform Effectiveness:\n", performance)

Campaign & Platform Effectiveness:
                         final_sale_price        profit
ad_campaign platform
campaign 3  platform a      1.711820e+07  1.170459e+07
            platform d      1.560385e+07  1.066955e+07
campaign 1  platform a      1.392289e+07  9.526760e+06
campaign 2  platform a      1.223050e+07  8.369172e+06
campaign 1  platform d      8.726145e+06  5.965389e+06
campaign 3  platform c      8.239051e+06  5.626486e+06
campaign 1  platform c      7.934756e+06  5.421004e+06
campaign 2  platform d      6.945716e+06  4.750814e+06
            platform c      6.544943e+06  4.476848e+06
campaign 1  platform b      6.248564e+06  4.280089e+06
campaign 2  platform b      5.418111e+06  3.699381e+06
campaign 3  platform b      4.397250e+06  3.003000e+06

In [48]:
# 4. Total sales vs total sales target
total_sales = data['final_sale_price'].sum()
total_target = data['sales_target'].sum()
print(f"Total Sales: {total_sales}, Total Target: {total_target}")

Total Sales: 113329974.745, Total Target: 314400000

In [49]:
# 5.1 Monthly sales trend
monthly_sales = data.groupby(['year', 'month'])['final_sale_price'].sum().reset_index()
print("Monthly Sales Trends:\n", monthly_sales)

Monthly Sales Trends:
     year month  final_sale_price
0   2017   Apr       1322919.000
1   2017   Aug       1029600.000
2   2017   Dec       2223000.000
3   2017   Feb       1826065.800
4   2017   Jan       1441229.400
5   2017   Jul       1125306.000
6   2017   Jun       1324931.400
7   2017   Mar       1445096.250
8   2017   May       1216800.000
9   2017   Nov       1778400.000
10  2017   Oct       1965600.000
11  2017   Sep       1836900.000
12  2018   Apr       2209759.500
13  2018   Aug       1815490.625
14  2018   Dec       2990000.000
15  2018   Feb       2084030.000
16  2018   Jan       1872936.000
17  2018   Jul       1918085.000
18  2018   Jun       2086197.750
19  2018   Mar       3152349.525
20  2018   May       1485013.400
21  2018   Nov       3034850.000
22  2018   Oct       1883700.000
23  2018   Sep       2526550.000
24  2019   Apr       1756805.700
25  2019   Aug       2247700.000
26  2019   Dec       2343945.500
27  2019   Feb       2938605.800
28  2019   Jan       1959512.750
29  2019   Jul       1763008.000
30  2019   Jun       1791400.000
31  2019   Mar       2565555.200
32  2019   May       2203334.120
33  2019   Nov       3312400.000
34  2019   Oct       3118050.000
35  2019   Sep       2687100.000
36  2020   Apr       2444739.050
37  2020   Aug       3128408.400
38  2020   Dec       4291950.000
39  2020   Feb       3554963.750
40  2020   Jan       3482423.750
41  2020   Jul       3339580.400
42  2020   Jun       2580812.000
43  2020   Mar       2775360.250
44  2020   May       2083600.675
45  2020   Nov       4702607.000
46  2020   Oct       3163550.000
47  2020   Sep       3499752.750

In [50]:
# 6.1 Quantity trend over time
quantity_trend = data.groupby(['year', 'month'])['quantity_sold'].sum().reset_index()
print("Monthly Quantity Sold:\n", quantity_trend)

Monthly Quantity Sold:
     year month  quantity_sold
0   2017   Apr      7349.5500
1   2017   Aug      5720.0000
2   2017   Dec     12350.0000
3   2017   Feb     10144.8100
4   2017   Jan      8006.8300
5   2017   Jul      6251.7000
6   2017   Jun      7360.7300
7   2017   Mar      8028.3125
8   2017   May      6760.0000
9   2017   Nov      9880.0000
10  2017   Oct     10920.0000
11  2017   Sep     10205.0000
12  2018   Apr      9607.6500
13  2018   Aug      7893.4375
14  2018   Dec     13000.0000
15  2018   Feb      9061.0000
16  2018   Jan      8143.2000
17  2018   Jul      8339.5000
18  2018   Jun      9070.4250
19  2018   Mar     13705.8675
20  2018   May      6456.5800
21  2018   Nov     13195.0000
22  2018   Oct      8190.0000
23  2018   Sep     10985.0000
24  2019   Apr      6756.9450
25  2019   Aug      8645.0000
26  2019   Dec      9015.1750
27  2019   Feb     11302.3300
28  2019   Jan      7536.5875
29  2019   Jul      6780.8000
30  2019   Jun      6890.0000
31  2019   Mar      9867.5200
32  2019   May      8474.3620
33  2019   Nov     12740.0000
34  2019   Oct     11992.5000
35  2019   Sep     10335.0000
36  2020   Apr      7886.2550
37  2020   Aug     10091.6400
38  2020   Dec     13845.0000
39  2020   Feb     11467.6250
40  2020   Jan     11233.6250
41  2020   Jul     10772.8400
42  2020   Jun      8325.2000
43  2020   Mar      8952.7750
44  2020   May      6721.2925
45  2020   Nov     15169.7000
46  2020   Oct     10205.0000
47  2020   Sep     11289.5250

In [51]:
#Export the Merged DataFrame to a CSV File
data.to_csv("cleaned_merged_data.csv", index=False)